body{
    /* background-image:url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); */
    
    
}
.wrapper {
    width: 70%;
    margin: 100px auto;
    box-shadow: 0px 6px 12px grey;
    padding: 50px 20px;
    text-align: center;
    border-radius: 10px;
    color: hsla(0, 0%, 0%, 0.94) ;
    background-color:hsla(102, 30%, 81%, 0.27) ;
    font-style: oblique;
}
.input{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.input-field{
    border-radius: 8px;
    padding: 5px;
    margin: 8px;
    border: none;
    box-shadow: 5px 3px 10px hsla(240, 100%, 39%, 0.17);
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    margin: auto;
    text-align: center;
    outline: none !important;
    font-style: italic;
}
#input-number{
    width: 300px;
    font-size: 20px;
}
.w-100{
    width: 100%;
}
button{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: hsla(206, 99%, 29%, 0.45);
    color:hsl(77, 42%, 87%);
    cursor: pointer;
    border: none;
    margin: 25px 10px;
    font-weight: 500;
    font-size: 16px;
}
button:hover{
    box-shadow: 0px 2px 4px cadetblue;
}
#result-box{
    color: rgb(153, 190, 181);
    font-size: 24px;
    font-weight: 600;
    width:190px ;
    height: 30px;
    padding: 3px;
    background-color: rgb(237, 231, 223);
    border-radius: 10px;
    margin-left: 29%;
    box-shadow: 0px 5px 4px rgb(101, 110, 110);
    border-style: solid;
}